---
import Section from "./Section.astro"
---

<Section
  title="Alvaro & Pauly"
  subtitle="Arquitectura y Construcción Modular"
  color="white"
  id="home"
>
  <div slot="footer">
    <a
      class="border-[3px] border-white bg-white/5 backdrop-blur-sm text-sm rounded 
      font-medium text-white px-12 py-2 inline-block hover:bg-white hover:text-black transition-colors"
      href="#"
    >
      Agendar visita</a
    >
  </div>

  <video
    slot="background"
    class="object-center object-cover h-full w-full"
    autoplay
    muted
    loop
    src="/video.webm"></video>
</Section>
